*,body, header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #070707;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

video {
    object-fit: fill;
    width: 100%;
    height: 100%;
}